<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
    .portlet {
    width: 400px;
    height: 300px;
    border: 4px double blue;
    float: left;
    margin: 0 20px 0 0;
    }
    .title {
    width: inherit;
    height: 40px;
    border: 2px solid green;
    }
    .content {
    width: inherit;
    height: 260px;
    border: 2px solid red;
    }
    </style>
  </head>
  <body>
    {% block marionet_portlets %}{% endblock %}
  </body>
</html>

